::-webkit-scrollbar {
    display: none;
}


/*tag selectors*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

/* nav {
    display: inline-block;
} */


/*class selectors*/

.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 20px 1% 20px 10%;
    max-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-logo {
    float: left;
    height: 50px;
}

.header-logo:hover {
    opacity: 0.8;
}

.page-sections {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 10px auto auto auto;
}

.page-sections a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    color: #333;
}

.page-sections a:hover {
    color: #ff0;
}


.home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.professional-picture {
    border-radius: 100%;
    width: 20%;
    float: right;
    margin-left: 5%;
}

.timeline {
    clear: both;
}

/*id selectors*/