@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Reenie+Beanie&display=swap');

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --clr-background: rgba(6, 6, 7, 0.5);
    --clr-background-two: rgba(15, 19, 19, 0.5);
    --clr-theme: rgba(55, 170, 156, 0.9);
    --clr-theme-two: rgba(148, 243, 228, 0.9);
    --clr-light: rgba(238, 238, 238, 0.9);
    --clr-dark: rgba(0, 0, 0, 1);
    --clr-card-color: rgba(15, 15, 15, 0.7);
    --clr-blob: linear-gradient(to right, aquamarine, mediumpurple);
    --clr-3d-red: rgba(255, 0, 0, 0.67);
    --clr-3d-blue: rgba(0, 255, 255, 0.67);
    --clr-skill-one: #ff3ea5;
    --clr-skill-two: #edff00;
    --clr-skill-three: #00a4cc;
    --clr-card-hover: rgba(255, 255, 255, 0.1);
    --header-gradient: linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0));
    --name-gradient: linear-gradient(45deg,
            #86e3ce, #d0e6a5, #ffdd94, #fa897b, #ccabdb);
    --achievement-level-one-gradient: linear-gradient(315deg, rgba(45, 196, 113, 0.3), rgba(100, 204, 58, 0.3));
    --achievement-level-two-gradient: linear-gradient(315deg, rgba(34, 141, 212, 0.3), rgba(179, 22, 58, 0.3));
    --achievement-level-three-gradient: linear-gradient(315deg, rgba(255, 200, 0, 0.3), rgba(255, 0, 58, 0.3));

    --ff-primary: 'Noto Sans', sans-serif;
    --ff-signature: 'Reenie Beanie', cursive;
}



html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: var(--clr-dark);
    margin: auto;
    text-align: center;
    font-family: var(--ff-primary);
    color: var(--clr-light);
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 5%;
    font-size: 350%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4{
    font-size: 125%;
}



.animated-loading {
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--clr-dark);
    z-index: 100;
    animation: hide 0.5s forwards ease-in-out 3.5s;
    display: none;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -100;
    }
}

.text-top {
    top: 0;
    left: 25%;
    height: 50%;
    width: 50%;
    overflow: hidden;
    position: absolute;
    border-bottom: 0.15 solid var(--clr-theme);
}

.text-top>div {
    font-size: 400%;
    bottom: 0;
    animation: showTopText 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translate(0, 100%);
    position: absolute;
    display: block;
}

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    25% {
        transform: translate3d(0, 0, 0);
    }

    65% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 100%, 0);
    }
}

.text-bottom {
    bottom: 0;
    left: 25%;
    height: 50%;
    width: 50%;
    overflow: hidden;
    position: absolute;
}

.text-bottom>div {
    font-size: 500%;
    top: 0;
    animation: showBottomText 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform: translate(0, -100%);
    position: absolute;
    display: block;
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    25% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -100%, 0);
    }
}



.blob {
    width: 25%;
    min-width: 300px;
    aspect-ratio: 1;
    position: fixed;
    z-index: -100;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 35% 65% 70% 30% / 38% 46% 54% 62%;
    background: var(--clr-blob);
    animation: blob-rotate 30s infinite;
    opacity: 0.8;
    filter: blur(100px);
}

@keyframes blob-rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}



.header {
    background: var(--header-gradient);
    padding: 20px 5%;
    position: fixed;
    width: 90%;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 55px;
    transition: 0.3s;
}

.header-logo:hover {
    opacity: 0.6;
}

.page-sections {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-sections a {
    margin: 0 10px;
    color: var(--clr-light);
    transition: 0.3s;
}

.page-sections a:hover {
    color: var(--clr-theme);
}


.home {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 700%;
    transition: 0.5s ease-out;
    color: transparent;
    letter-spacing: 3px;
    background: var(--name-gradient);
    background-size: 1000%;
    animation: gradient 50s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.name:hover {
    text-shadow: -3px 0px 1px var(--clr-3d-red),
        3px 0px 1px var(--clr-3d-blue);
}

.titles {
    font-size: 140%;
}


.about {
    padding-bottom: 3%;
    background-color: var(--clr-background-two);
}

.about-horizontal {
    padding: 50px 10% 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image-column {
    flex-basis: 30%;
    min-width: 300px;
    max-width: 600px;
    padding-right: 5%;
}

.about-image-column>img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 5%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition-duration: 1s;
}

.about-image-column>img:hover {
    filter: brightness(120%);
}

.about-text-column {
    flex-basis: 60%;
    padding-top: 2%;
    margin-left: 1em;
}

.about-text>span {
    font-weight: bold;
    font-size: 150%;
    display: flex;
}

.about-text {
    text-align: left;
}

.about-details-list {
    text-align: left;
    list-style: none;
    color: var(--clr-theme);
    margin-top: 30px;
}

.about-details-list span {
    color: var(--clr-light);
    display: flex;
    font-size: 110%;
}

.about-details-buttons {
    margin-top: 50px;
    width: 265px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.filled-button {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 16px;
    background-color: var(--clr-theme);
    border: 2px solid var(--clr-theme);
    color: var(--clr-light);
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 90%;
}

.outline-button {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid var(--clr-theme);
    color: var(--clr-light);
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 90%;
}

.filled-button:hover {
    background-color: var(--clr-theme-two);
    border: 2px solid var(--clr-theme-two);
}

.outline-button:hover {
    background-color: var(--clr-theme-two);
    border: 2px solid var(--clr-theme-two);
}

.hidden {
    display: none;
}

.timeline-full-screen {
    position: fixed;
    height: 100vh;
    padding-top: 10vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--clr-card-color);
    backdrop-filter: blur(20px);
    z-index: 50;
}

.timeline-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    list-style: none;
    height: 60vh;
    text-align: left;
}

.timeline-content-item {
    padding: 10% 25%;
    scroll-snap-align: start;
}

.timeline-content-item-title {
    font-size: 180%;
    
}

.timeline-content-item-time {
    font-size: 120%;
    color: var(--clr-theme);
}

.close-button {
    text-align: right;
    margin-right: 3%;
    margin-top: 5vh;
}

.left-button {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: transparent;
    border: none;
    color: var(--clr-light);
    font-size: 150%;
    cursor: pointer;
}

.right-button {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: transparent;
    border: none;
    color: var(--clr-light);
    font-size: 150%;
    cursor: pointer;
}


.main-skills {
    list-style: none;
    padding: 0 5% 50px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-skill {
    width: 400px;
    padding: 50px 4%;
    transition: 0.3s;
}

.main-skill:hover {
    text-shadow: 0 0 20px var(--clr-light);
    transform: scale(1.01);
}

.main-skill>i {
    font-size: 200%;
    padding-right: 20px;
}

.main-skill>span {
    font-size: 150%;
}


.skill-categories {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.skill-toggle-button {
    background: transparent;
    border: none;
    font-size: 130%;
    position: relative;
    transition: 0.3s;
    padding: 10px;
    color: var(--clr-light);
    border-bottom: 2px solid transparent;
    cursor: pointer;
}


.skill-toggle-button:hover {
    border-bottom: 1px solid var(--clr-light);

}

.skill {
    transition: 0.3s;
}

.skill-toggle-button.programming-languages.skill-selected,
.programming-language.skills-selected,
.programming-language:hover {
    color: var(--clr-skill-one);
}

.skill-toggle-button.frameworks-libraries.skill-selected,
.framework-library.skills-selected,
.framework-library:hover {
    color: var(--clr-skill-two);
}

.skill-toggle-button.tools-technologies.skill-selected,
.tool-technology.skills-selected,
.tool-technology:hover {
    color: var(--clr-skill-three);
}

.skill-pool {
    align-items: center;
    margin: auto;
    width: 70%;
    height: 20vh;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 150px;
    position: relative;
    backdrop-filter: blur(30px);
}

.skill {
    position: absolute;
}

.soft-skills {
    list-style: none;
    padding: 0 5% 50px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.soft-skill>i {
    font-size: 150%;
    padding: 20px 0;
}

.soft-skill {
    min-width: 150px;
    padding: 20px 10px;
    transition: 0.3s;
    font-size: 125%;
}

.soft-skill:hover {
    text-shadow: 0 0 20px var(--clr-light);
    transform: scale(1.02);
}


.card {
    margin: 15px;
    padding: 40px;
    border-radius: 20px;
    background: var(--clr-card-color);
    min-width: 200px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transition: 0.3s transform ease-out;
}

.card::before {
    content: '';
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
            var(--clr-card-hover),
            transparent);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover::before {
    opacity: 1;
}


.experience-cards {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    padding: 15px;
}

.experience-card {
    justify-content: flex-start;
    padding-top: 0;
}

.experience-card>img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 1/1;
    padding-top: 50px;
}


.project-cards {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33.33%;
    overflow-x: auto;
    padding: 15px;
}

.project-card>img {
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}


.achievement-cards {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    padding: 15px;
}

.achievement-card {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 100%;
}

.achievement-card::before{
    padding-bottom: 20px;
}

.achievement-card>span {
    font-size: 90%;
}

.achievement-level-one::after,
.achievement-level-two::after,
.achievement-level-three::after {
    content: '';
    position: absolute;
    top: 50;
    left: 50;
    width: 60%;
    height: 80%;
    transform: skewX(-10deg);
    transition: 0.5s ease-out;
    filter: blur(50px);
    z-index: -1;
}

.achievement-level-one::after {
    background: var(--achievement-level-one-gradient);
}

.achievement-level-two::after {
    background: var(--achievement-level-two-gradient);
}

.achievement-level-three::after {
    background: var(--achievement-level-three-gradient);
}

.achievement-level-one:hover::after,
.achievement-level-two:hover::after,
.achievement-level-three:hover::after {
    width: 100%;
    height: 100%;
    transform: skewX(0);
}


.certification-cards {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 15px;
}

.certification-card {
    position: relative;
    font-size: medium;
}

.certification-card>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
    transition: 0.5s ease-out;
}

.certification-card:hover>img {
    transform: scale(1.1);
    opacity: 0.1;
}


.gallery {
    padding-bottom: 100px;
}


.contact {
    padding: 100px;
    background-color: var(--clr-background-two);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list li {
    padding: 20px;
}

.social-list a {
    font-size: larger;
    color: var(--clr-theme);
    transition: 0.3s;
}

.social-list a:hover {
    color: var(--clr-theme-two);
}


.signature-name {
    font-size: 200%;
    font-family: var(--ff-signature);
}

.copyright {
    font-size: 100%;
}

.footer {
    background-color: var(--clr-background-two);
    padding: 50px;
}

.footer>img {
    border-radius: 50%;
    width: 7%;
    margin: 1em;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition-duration: 1s;
}